---
import { SquareArrowOutUpRight } from "lucide-astro";
---

<footer class="text-white/80 bg-black text-center px-8 lg:px-4 xl:px-0">
  <a
    href="mailto:rodrigommfreitas@protonmail.com"
    class="text-red-700 hover:underline flex text-base sm:text-lg font-semibold justify-center items-center gap-2"
  >
    rodrigommfreitas@protonmail.com <SquareArrowOutUpRight class="h-4 w-4" />
  </a>
  <div class="mt-2 font-semibold text-sm sm:text-base pb-8 sm:pb-16 md:pb-24">
    © 2025 Rodrigo Freitas. All rights reserved.
  </div>
</footer>
